.meesho-navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 50px;
background:white;
border-bottom:1px solid #eee;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:34px;
font-weight:700;
color:#9F2089;
}

.search-box{
width:45%;
display:flex;
align-items:center;
border:1px solid #ddd;
padding:10px;
border-radius:6px;
gap:10px;
}

.search-box input{
width:100%;
border:none;
outline:none;
}

.nav-right{
display:flex;
gap:25px;
align-items:center;
}

.nav-right a{
text-decoration:none;
color:#333;
font-weight:500;
}

.category-bar{
display:flex;
justify-content:center;
gap:40px;
padding:12px;
background:#fff;
border-bottom:1px solid #eee;
font-weight:500;
}