.loader-container{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#000;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

  z-index:99999;
}

.loader-logo{
  width:220px;
}

.loader-container h3{
  color:#d4af37;
  margin-top:20px;
}